<template name="mainNavigationTopItemPublic">
    {{#if gotBothNavigationElements}}
        <li id="navbar-public"
            class="dropdown {{#if isPublicRoute}}active{{/if}}">
            <a href="#" class="dropdown-toggle dropdownMenuContainer"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{{getNavigationName "public"}}}
            </a>
            <div id="public-drop" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ul>
                    {{> mainNavigationTopItemPublicItemCardsets}}
                    {{> mainNavigationTopItemPublicItemRepetitorien}}
                </ul>
            </div>
        </li>
    {{else}}
        {{#if (gotNavigationFeature "public.cardset.enabled" false)}}
            {{> mainNavigationTopItemPublicItemCardsets standalone=true}}
        {{/if}}
        {{#if (gotNavigationFeature "public.repetitorium.enabled" false)}}
            {{> mainNavigationTopItemPublicItemRepetitorien standalone=true}}
        {{/if}}
    {{/if}}
</template>
